#jobs {
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#jobs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkgray;
    color: white;
}

#jobs tr:hover {
    background-color: #ddd;
}

#jobs td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

